
{% extends "base.html" %}


{% block titulo %}
Novo Evento | Encantar Cerimonial
{% endblock %}



{% block conteudo %}


<section class="pagina-topo">


    <div class="container">


        <h1>
            Cadastrar Novo Evento
        </h1>


        <p>
            Adicione um evento realizado pelo cerimonial.
        </p>


    </div>


</section>





<section class="container">


    <div class="formulario">



        <form
            method="POST"
            action="{{ url_for('novo_evento') }}"
            enctype="multipart/form-data"
        >



            <label>
                Nome do Evento
            </label>


            <input
                type="text"
                name="nome"
                placeholder="Ex: Casamento Maria e João"
                required
            >




            <label>
                Data do Evento
            </label>


            <input
                type="text"
                name="data"
                placeholder="Ex: 15/08/2026"
                required
            >





            <label>
                Descrição
            </label>


            <textarea
                name="descricao"
                rows="6"
                placeholder="Descreva o evento..."
                required
            ></textarea>





            <label>
                Link do Google Drive
            </label>


            <input
                type="url"
                name="drive"
                placeholder="Cole o link do álbum de fotos"
            >





            <label>
                Foto de capa
            </label>


            <input
                type="file"
                name="imagem"
                accept="image/*"
            >





            <button
                type="submit"
                class="botao"
            >

                Salvar Evento

            </button>




        </form>



    </div>


</section>





<section class="container">


    <a
        href="{{ url_for('dashboard') }}"
        class="botao"
    >

        Voltar ao Painel

    </a>


</section>




{% endblock %}
