{% extends "base.html" %}


{% block titulo %}
Erro interno | Encantar Cerimonial
{% endblock %}



{% block conteudo %}


<section class="erro">


    <div class="container">


        <h1>
            500
        </h1>


        <h2>
            Algo deu errado
        </h2>


        <p>
            Ocorreu um erro inesperado no servidor.
            Nossa equipe já pode verificar o problema.
        </p>




        <a
            href="{{ url_for('index') }}"
            class="botao"
        >

            Voltar para o início

        </a>



    </div>



</section>




{% endblock %}
