{% extends "base.html" %}


{% block titulo %}
Sobre Nós | Encantar Cerimonial
{% endblock %}



{% block conteudo %}



<section class="pagina-topo">


    <div class="container">


        <h1>
            Sobre Nós
        </h1>


        <p>
            Conheça a história da Encantar Cerimonial.
        </p>


    </div>


</section>








<section class="container">



<div class="sobre">



    <div>



        {% if imagens.sobre %}



        <img

        src="{{ url_for('static', filename='img/' + imagens.sobre) }}"

        alt="Encantar Cerimonial"

        >



        {% endif %}



    </div>





    <div>



        <h2>

            Criando momentos inesquecíveis

        </h2>



        <p>

            A Encantar Cerimonial nasceu com o propósito
            de transformar sonhos em experiências únicas.

        </p>




        <p>

            Nossa equipe trabalha com planejamento,
            organização e atenção aos detalhes para que
            cada evento seja realizado com excelência.

        </p>




        <p>

            Do primeiro contato até o grande dia,
            cuidamos de cada etapa para que nossos
            clientes aproveitem cada momento.

        </p>





        <a

        href="https://wa.me/{{ config.whatsapp }}"

        target="_blank"

        class="botao"

        >

            Fale conosco

        </a>



    </div>



</div>



</section>








<section class="cta">



<div class="container">


<h2>

Faça seu evento acontecer

</h2>



<p>

Conte sua ideia para nossa equipe.

</p>




<a

href="https://wa.me/{{ config.whatsapp }}"

target="_blank"

class="botao"

>

Solicitar orçamento

</a>



</div>



</section>






{% endblock %}
